[submodule "信息论实验/ConvCode"]
	path = 信息论实验/ConvCode
	url = git@github.com:Kaikaikaifang/ConvCode.git
[submodule "光通信实验/CMICode"]
	path = 光通信实验/CMICode
	url = git@github.com:Kaikaikaifang/CMICode.git
[submodule "集成电路导论/BPSK"]
	path = 集成电路导论/BPSK
	url = git@github.com:Kaikaikaifang/BPSK.git
[submodule "微控制系统项目设计/SodaFountain"]
	path = 微控制系统项目设计/SodaFountain
	url = git@github.com:Kaikaikaifang/SodaFountain.git
[submodule "微控制系统项目设计/soda-fountain-fe"]
	path = 微控制系统项目设计/soda-fountain-fe
	url = git@github.com:Kaikaikaifang/soda-fountain-fe.git
